

.bancontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;  
  border: 1px solid #eee;
  margin: 5px 5px;
  border-radius: 5px;
  background-color: #fff;
}
.pay{
    background:linear-gradient( rgb(187, 155, 248), rgb(245, 169, 192),rgb(125, 192, 255));
    font-family:  cursive;
    text-align: center;
    color:black;
    height: 40px;
    width: 100px;
    border-radius: 5px;
 }
.qr{ 
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50px;
}


.detailstext{
    background:linear-gradient( rgb(187, 155, 248), rgb(245, 169, 192),rgb(125, 192, 255));
    font-family:  cursive;
    text-align: center;
    color:black;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}